# DB
POSTGRES_USER=root
POSTGRES_PASSWORD=senha_local
POSTGRES_DB=kheprix_oltp_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5410

# DW
POSTGRES_DW_USER=user
POSTGRES_DW_PASSWORD=tcc_kheprix_2026
POSTGRES_DW_DB=kheprix_dw_db
POSTGRES_DW_HOST=db_dw
POSTGRES_DW_PORT=5432

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASSWORD="sua senha do app"
SMTP_DOMAIN=gmail.com
SMTP_AUTH=plain
SMTP_STARTTLS=true
EMAIL_REMETENTE=noreply@kheprix.com

# Frontend (placeholder — ajustar quando o frontend existir)
FRONTEND_URL=http://localhost:5173
REDEFINICAO_SENHA_CAMINHO=/redefinir-senha

