/.env
/API/r_packages/

# Airflow
airflow/logs/
airflow/config/
airflow/documentation/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Android / Gradle
mobile/KheprixApp/.gradle/
mobile/KheprixApp/.idea/
mobile/KheprixApp/local.properties
mobile/KheprixApp/build/
mobile/KheprixApp/app/build/
mobile/KheprixApp/captures/
*.iml
