<div class="auth-page">
  <div class="auth-form-side">
    <div class="auth-form-box">
      <ng-container *ngIf="!tokenValido">
        <div class="form-group">
          <label class="form-label">E-mail:</label>
          <input
            class="form-control"
            type="email"
            [(ngModel)]="email"
            placeholder="seu@email.com"
            [disabled]="tokenEnviado"
          />
        </div>
        <button
          class="btn btn-primary"
          style="margin-bottom: var(--space-md)"
          (click)="solicitarToken()"
          [disabled]="loadingStep1 || tokenEnviado"
          style="width: 100%; margin-bottom: 5vh"
        >
          {{ loadingStep1 ? "Enviando..." : "Enviar Token" }}
        </button>

        <div class="form-group">
          <label class="form-label">Token:</label>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="token"
            placeholder="Token recebido por e-mail"
          />
        </div>
        <div *ngIf="erroStep1" class="alert alert-error mt-md">
          {{ erroStep1 }}
        </div>
        <div *ngIf="msgStep1" class="alert alert-success mt-md">
          {{ msgStep1 }}
        </div>
        <button
          class="btn btn-primary btn-full mt-md"
          (click)="validarToken()"
          [disabled]="loadingStep2 || !token"
        >
          {{ loadingStep2 ? "Validando..." : "Confirmar" }}
        </button>
      </ng-container>
      <ng-container *ngIf="tokenValido">
        <div class="form-group">
        <label class="form-label">Nova Senha:</label>

        <div style="position: relative; display: flex; align-items: center">
          <input
            class="form-control"
            [type]="mostrarSenha ? 'text' : 'password'"
            [(ngModel)]="novaSenha"
            placeholder="Escolha uma senha"
            style="padding-right: 40px"
            minlength="5"
            maxlength="15"
          />

          <button
            type="button"
            (click)="mostrarSenha = !mostrarSenha"
            style="
              color: var(--color-bg-green-mid);
              position: absolute;
              right: 10px;
              background: none;
              border: none;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            "
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M12 5C8.24261 5 5.43602 7.4404 3.76737 9.43934C2.51521 10.9394 2.51521 13.0606 3.76737 14.5607C5.43602 16.5596 8.24261 19 12 19C15.7574 19 18.564 16.5596 20.2326 14.5607C21.4848 13.0606 21.4848 10.9394 20.2326 9.43934C18.564 7.4404 15.7574 5 12 5Z"
                stroke="currentColor"
                stroke-width="1.5"
              />
              <path
                d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                stroke="currentColor"
                stroke-width="1.5"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Confirme a senha:</label>
        <div style="position: relative; display: flex; align-items: center">
          <input
            class="form-control"
            [type]="mostrarSenhaC ? 'text' : 'password'"
            [(ngModel)]="confirmarSenha"
            placeholder="Confirme a senha escolhida"
            style="padding-right: 40px"
            minlength="5"
            maxlength="15"
          />
          <button
            type="button"
            (click)="mostrarSenhaC = !mostrarSenhaC"
            style="
              color: var(--color-bg-green-mid);
              position: absolute;
              right: 10px;
              background: none;
              border: none;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            "
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M12 5C8.24261 5 5.43602 7.4404 3.76737 9.43934C2.51521 10.9394 2.51521 13.0606 3.76737 14.5607C5.43602 16.5596 8.24261 19 12 19C15.7574 19 18.564 16.5596 20.2326 14.5607C21.4848 13.0606 21.4848 10.9394 20.2326 9.43934C18.564 7.4404 15.7574 5 12 5Z"
                stroke="currentColor"
                stroke-width="1.5"
              />
              <path
                d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                stroke="currentColor"
                stroke-width="1.5"
              />
            </svg>
          </button>
        </div>
      </div>
        <div *ngIf="erroStep3" class="alert alert-error mt-md">
          {{ erroStep3 }}
        </div>
        <div *ngIf="msgStep3" class="alert alert-success mt-md">
          {{ msgStep3 }}
        </div>
        <button
          class="btn btn-primary btn-full mt-md"
          (click)="redefinirSenha()"
          [disabled]="loadingStep3"
        >
          {{ loadingStep3 ? "Salvando..." : "Confirmar" }}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="auth-info-side">
    <h1 class="auth-title">RECUPERAÇÃO DE SENHA</h1>
    <div class="auth-image-wrapper">
      <div class="auth-divider-lines"></div>

      <img src="/img/icon_marrom.png" alt="Inseto" class="auth-insect" />
    </div>
    <p class="auth-info-text" *ngIf="!tokenValido">
      Informe seu email e aguarde o envio do token de confirmação. Então,
      informe o token para prosseguir.
    </p>
    <p class="auth-info-text" *ngIf="tokenValido">
      Insira uma nova senha e confirme sua escolha
    </p>
  </div>
</div>
