<div class="page-container" style="max-width: 700px">
  <h1 class="page-title">{{ isEdit ? "Editar Campanha" : "Nova Campanha" }}</h1>
  <div class="ornament-divider"><span>⸙</span></div>

  <div class="form-group">
    <label class="form-label">Nome</label>
    <input
      class="form-control"
      type="text"
      [(ngModel)]="nome"
      placeholder="Nome da campanha"
    />
  </div>
  <div class="form-group">
    <label class="form-label">Data de Início</label>
    <input class="form-control" type="date" [(ngModel)]="dataInicio" />
  </div>

@if (variaveis.length > 0) {
    <label class="form-label">Variáveis da Campanha</label>
    <div>
      @for (v of variaveis; track v.id; let i = $index) {
      <label class="form-label">{{ v.nome }}</label>
      <div class="form-inline-group">
        @if (v.tipo_dado === "texto") {
          <input
            class="form-control"
            type="text"
            [(ngModel)]="valoresVars[i].valor"
            [placeholder]="'Valor de ' + v.nome"
          />
        }
        @if (v.tipo_dado === "numerico") {
          <input
            class="form-control"
            type="number"
            [(ngModel)]="valoresVars[i].valor"
            [placeholder]="'Valor de ' + v.nome"
          />
        }
        @if (v.tipo_dado === "logico") {
          <select
            class="form-control"
            [(ngModel)]="valoresVars[i].valor"
            [placeholder]="'Valor de ' + v.nome"
          >
            <option value="true">Verdadeiro</option>
            <option value="false">Falso</option>
          </select>
        }
        <span
          *ngIf="v.metrica"
          class="text-muted"
          style="white-space: nowrap"
          >{{ v.metrica }}</span
        >
      </div>
    }
    </div>
  }

  <div class="form-group">
    <label class="form-label">Descrição</label>
    <textarea
      class="form-control"
      [(ngModel)]="descricao"
      placeholder="Descrição da campanha"
      rows="4"
    ></textarea>
  </div>

  <div *ngIf="erro" class="alert alert-error">{{ erro }}</div>

  <div class="d-flex align-center justify-between mt-lg">
    <button class="back-btn" (click)="voltar()">◀</button>
    <button class="btn btn-primary" (click)="salvar()" [disabled]="loading">
      {{ loading ? "Salvando..." : "Confirmar" }}
    </button>
  </div>
</div>
